/* Основной экран */
:root {
    --bg-overlay-chat: #2f3136  !important; /* Список участников */
    --custom-channel-members-bg: #2f3136  !important; /* Список участников */
    --bg-overlay-4: #2f3136 !important; /* Голосовые и текстовые чаты */
    --background-base-lowest: #2f3136 !important; /* Голосовые и текстовые чаты */
    --background-base-low: #292b2f !important; /* Панелька с микрофоном */
    --bg-base-tertiary: #202225 !important; /* Список серверов */
}
.title_c38106 { /* Удаление лишнего с верхней панели */
    display: none;
}
:root { /* Уменьшение размера верхней панели */
    --custom-app-top-bar-height: 22px 
}
.trailing_c38106 { /* Отступы верхней панели */
    padding-right: 8px; 
}
.chatContent_f75fb0 { /* Чат */
    background-color: #36393f !important;
}
.messageListItem__5126c:hover { /* Цвет наведения на сообщение */
    background-color: #2e3035 !important;
}
.scrollableContainer__74017.themedBackground__74017 { /* Поле ввода в чат */
    background: #40444b !important; 
}
:root { /* Пинг сообщение в чате */
    --background-mentioned: #46423c !important;
}
.message__5126c.cozyMessage__5126c.mentioned__5126c:hover { /* Пинг сообщения в чате при наведении мышки */
    background: #554b38 !important;
}
.container_c8ffbb { /* Разделитель списка участников и чата */
    border-left: none !important; 
}
.panels__5e434 { /*Исправление панельки с замутом */
    border-radius: 0 !important;
    left: auto !important;
    right: 0 !important;
    width: calc(100% - 72px) !important;
    bottom: 0 !important;
}
.panel__5dec7.activityPanel_c48ade { /* Скругление игровой активности */
    border-radius: 0;
}
.wrapper_ef3116.guilds__5e434 { /*Исправление списка серверов */
    margin-bottom: 0px !important;
}



.inner_c0bea0.biteSize_c0bea0 { /* Цвета профилей */
    background: #292b2f !important; 
}
.sidebar_c48ade::after { /*Убирание тупорылой полоски снизу */
    display: none !important;
}
.icon__6e9f8 { /* Округление иконок серверов */
    border-radius: 100px !important;
}
.wrapper__6e9f8.selected__6e9f8 .icon__6e9f8 { /* Оквадрачивание активного сервера */
  border-radius: 0px !important;
}
/* Настройки */
.sidebarRegionScroller__23e6b.thin_d125d2.scrollerBase_d125d2.fade_d125d2 { /*левая панель */
    background: #313037 !important;
}
.contentRegionScroller__23e6b.contentRegionShownSidebar__23e6b.auto_d125d2.scrollerBase_d125d2 { /*правая панель */
    background: #36393f !important;
}
/* Личные сообщения */
.peopleColumn__133bf { /* Список друзей */
    background: #36393f; 
}
.actionButton_f8fa06, .actionButton_f8fa06 { /* Иконки в списке друзей */
    background: #3a3e44; 
}
